* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: white;
}
html,body{
  min-height: 115%;
}
a,p{
  color:white;
}
a:hover{
  color:#e4e4e4;
}
.form-control-feedback {
    color: #fff !important;
}
.login-page,.register-page {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, rgb(6, 31, 28) 0%, #128453 100%);
  background: linear-gradient(to bottom right, rgb(6, 31, 28) 0%, #128453 100%);
  /*position: relative;*/
  width: 100%;
  /*min-height: 100%;*/
  padding-top: 6%;
  /*overflow: hidden;*/
}
.login-box,.register-box{
  margin: 0 auto;
}
.login-logo a,.register-logo a{
  font-family: 'Pacifico';
  font-size: 60px;
}
.login-box-body,.register-box-body{
  background: rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 2;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgba(0, 0, 0, 0.05) !important;
    background-image: none;
    color: white !important;
}
.form-control{
  color:white;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
}
 ::-webkit-input-placeholder{
  color:white !important;
}
.btn-primary{
  border:none;
  background-color: rgba(0, 0, 0, 0.05);
}
.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.bb-wrapper {
    overflow: hidden;
    min-height: 115%;
    position: absolute;
    width: 100%;
    top: 0;
}
/*.bg-bubbles {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 130%;
  z-index: 1;
}*/
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(600deg);
            transform: translateY(-1000px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(600deg);
            transform: translateY(-1000px) rotate(600deg);
  }
}
