*{
    color:white !important;
    font-family: "Microsoft Yahei";
}
body{
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, rgb(6, 31, 28) 0%, #128453 100%);
  background: linear-gradient(to bottom right, rgb(6, 31, 28) 0%, #128453 100%);
  position: relative;
}
.content-wrapper{
    background: none !important;
}
.main-sidebar{
    background: rgba(18, 18, 19, 0.24) !important;
    position: fixed !important;
}
.skin-blue .sidebar-menu>li>a:hover, .skin-blue .sidebar-menu>li.active>a {
    background: rgba(0, 150, 136, 0.5) !important;
    border-left-color: #009688 !important;
}
.main-header .logo{
    background-color: rgba(0, 0, 0, 0) !important;
    font-family: 'Pacifico','Microsoft Yahei';
}
.sidebar-toggle:hover{
    background-color: #009688 !important;;
}
@media (min-width: 767px){
    .main-sidebar, .left-side, .main-header .logo {
    position: fixed !important;
    }
    .sidebar-toggle{
        display: none;
    }
}
.main-header .navbar{
    background-color: rgba(0, 0, 0, 0) !important;
}
.skin-blue .wrapper{
    background-color: rgba(0, 0, 0, 0) !important;
}
.skin-blue .main-header li.user-header {
    background-color: rgba(0, 0, 0, 0.64) !important;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: rgba(0, 0, 0, 0.9);
}
.btn-default {
    background-color: rgba(96, 125, 139, 0.19) !important;
}
.dropdown-menu {
    background-color: rgba(0,0,0,0.5) !important;
    border-color: rgba(0, 0, 0, 0) !important;;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    color: #fff !important;
}
.btn-default:hover, .btn-default:active, .btn-default.hover {
    background-color: rgba(255, 255, 255, 0.11) !important;
    color: white !important;
}
.box,.box-primary{
    background-color: rgba(0, 0, 0, 0.22) !important;
}
.box.box-primary {
    border-top-color: #009688 !important;
}
.box-footer{
    background-color: rgba(0, 0, 0, 0.15);
}
.panel{
    background-color: rgba(0, 0, 0, 0.22) !important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.table-hover>tbody>tr:hover {
    background-color: rgba(99, 85, 85, 0.3) !important;
}
code, kbd, pre, samp{
    background-color: rgba(0, 0, 0, 0.49) !important;
}
input, optgroup, select, textarea{
    background-color: rgba(0, 0, 0, 0.11) !important;
}
table tr,td{
    background-color: rgba(0, 0, 0, 0.33) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button a{
    color: white !important;
}
#paid_user_table,#donate_table{
    margin: 0 !important;
}
.dataTable{
    width: 100% !important;
}
.dataTables_wrapper .dataTables_paginate span > .paginate_button {
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate > .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff !important;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #23527c;
    background-color: rgba(0, 0, 0, 0.81);
    border-color: #ddd;
}
.pagination>li>a {
    background: rgba(0, 0, 0, 0.16);
    color: #666;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: rgba(0, 0, 0, 0.14);
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: rgba(0, 0, 0, 0.81);
    border-color: #ddd;
}
.input-group .input-group-addon {
    background-color: rgba(0, 0, 0, 0.31);
}
#join {
    display: block;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    transition:all .3s ease-out;
    border:none;
    background-color: #CE5454;
    color: white;
    border-radius: 2px;
    font-family: 'Microsoft Yahei';
    font-size: 15px;
    padding:5px;
    margin-left: 10px;
    text-align: center;
}
#join:hover{
    background:rgb(199, 44, 44) !important;
}

.callout.callout-warning {
    background-color: rgba(0, 150, 136, 0.58) !important;
    border-color: #009688;
}

.register-logo{
    background: black;
    font-family: cursive;
    color: white;
    opacity: 0.8;
    -moz-box-shadow: 0 0 20px black; 
    -webkit-box-shadow: 0 0 20px black; 
    box-shadow: 0 0 20px black;
}

.center{
    text-align: center;
    margin: 0 auto;
}

input.w3-btn.w3-xxlarge.w3-center.w3-teal{
    width: 98%;
    margin-bottom: 5px;
}

.main-footer{
    background: rgba(0, 0, 0, 0.15) !important;
    color: #ccc;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Microsoft Yahei" !important;
}
code, kbd, pre, samp {
    font-family: "Yahei Consolas Hybrid" !important;
}
.margin{
    margin:2px !important;
}
.btn.focus, .btn:focus, .btn:hover {
    background-color: rgba(0, 0, 0, 0.63) !important;
    border-color: rgba(0, 0, 0, 0.63) !important;
}
.card{
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.card:hover{
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21) !important;
}

@media (min-width: 768px){
    .dl-horizontal dt {
        width: 165px !important;
    }
}

a,p,h5{
    webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif, '宋体';
}

::selection {
    background: #666;
    color: white;
}

a.btn.w3-teal.w3-small.pull-right:hover{
    background: #1B8655 !important;
}

.node-list>tbody>tr>td{
    padding:12px !important;
    border: none;
}

.bb-wrapper {
    overflow: hidden;
    min-height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
}
/*.bg-bubbles {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 130%;
  z-index: 1;
}*/
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
  border-radius: 50%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  border-radius: 50%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
  border-radius: 50%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  95%{
    background-color: rgba(255, 255, 255, 0.15);
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(600deg);
            transform: translateY(-1000px) rotate(600deg);
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  95%{
    background-color: rgba(255, 255, 255, 0.15);
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(600deg);
            transform: translateY(-1000px) rotate(600deg);
    background-color: rgba(255, 255, 255, 0);
  }
}
